.popup{
    display: none;
}

.popup::before{
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: #000;
    position: fixed;
    content: '';
    opacity: 0.5;
}