.popup__form-heading{
    grid-area: form;
    display: flex;
    flex-direction: column;
    padding: 36px;
    background-color: white;
    color: #000;
    border-radius: 10px;
    box-sizing: border-box;
    width: 430px;
    height: 330px;
}

@media screen and (max-width: 576px) {
    .popup__form-heading{
        padding: 25px 22px;
        width: 282px;
        height: 322px;
    }
}