.profile__info{
    display: grid;
    grid-template-columns: 1fr 24px;
    grid-row-gap: 16px;
    grid-column-gap: 18px;
    grid-template-areas: 
        "name button"
        "description description";
}

@media screen and (max-width: 576px) {
    .profile__info{
        grid-row-gap: 8px;
        grid-column-gap: 10px;
        text-align: center;
        margin-top: 28px;
    }
}